<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>References</h3> <br>
        <div class="row">
          <div class="col-12 reference">
            •	<b>Dr. Akram Avami</b>, Assistant Professor of Energy Engineering, Sharif University of Technology, Tehran
            <br>
            <i class="bi bi-envelope"></i> <a href="mailto:Avami@sharif.edu">Avami@sharif.edu</a>
          </div>
          <div class="col-12 reference">
            •	<b>Dr. Hossein Khajehpour</b>, Assistant Professor of Energy Engineering, Sharif University of Technology, Tehran
            <br>
            <i class="bi bi-envelope"></i> <a href="mailto:khajehpour@sharif.edu">khajehpour@sharif.edu</a>
          </div>
          <div class="col-12 reference">
            •	<b>Dr. Moein Moeini-Aghtaie</b>, Assistant Professor of Energy Engineering, Sharif University of Technology, Tehran
            <br>
            <i class="bi bi-envelope"></i> <a href="mailto:moeini@sharif.edu">moeini@sharif.edu</a>
          </div>
          <div class="col-12 reference">
            •	<b>Dr. Abbas Rajabi-Ghahnavieh</b>, Assistant Professor of Energy Engineering, Sharif University of Technology, Tehran
            <br>
            <i class="bi bi-envelope"></i> <a href="mailto:rajabi@sharif.edu">rajabi@sharif.edu</a>
          </div>
          <div class="col-12 mt-2" style="font-size: 13px; color: #555">
            Phone numbers are available upon request.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
