<div class="body">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 col-md-8 col-lg-8 box-css">
        <h3>Language Proficiency</h3> <br>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	<b>Persian:</b> Native
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            •	<b>English</b>
            <!-- Add scores here once available, e.g.
            <br><b>TOEFL iBT:</b> 105 (Reading 28, Listening 27, Speaking 24, Writing 26)
            <br><b>GRE:</b> Verbal 155, Quantitative 165, Analytical Writing 4.0
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
